[submodule "ailab/submodules/asdf-central-registry"]
	path = ailab/submodules/asdf-central-registry
	url = https://github.com/radiganm/asdf-central-registry.git
[submodule "ailab/submodules/librad"]
	path = ailab/submodules/librad
	url = https://github.com/radiganm/librad.git
[submodule "ailab/submodules/shen-sbcl"]
	path = ailab/submodules/shen-sbcl
	url = https://github.com/radiganm/shen-sbcl.git
[submodule "ailab/submodules/tecla"]
	path = ailab/submodules/tecla
	url = https://github.com/radiganm/tecla.git
